################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Django4Tut/FileContentIndex/01cb8284-ba11-4665-91ab-5523ecb111d9.vsidx
/.vs/Django4Tut/FileContentIndex/191edc09-d0b9-488a-9eb3-d0f00198994b.vsidx
